@media only screen and (max-width: 600px){
  body {
    background-color:burlywood;
  }
}
.box{
    width: 100px;
    height: 200px;
    background-color: aqua;
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes slide{
    from{
        transform: translateX(0)   
         }
        
        
     to{
            transform: translateX(300px);
        } 
}